#list{
    width: 90%;
    margin: 0 5%;
    position: relative;
    top: -120px;
    opacity: 0.8;
    /* background-color: white; */
}
.List-nav{
    height: 100px;
    /* background-color: blueviolet; */
    display: flex;
}
.List-left{
    flex: 1;
    margin-left: 10px;
    /* background-color: red; */
}
.List-left img{
    margin-top: 5%;
    width: 90%;
    height: 90%;
}
.List-right{
    margin-left: 5%;
    flex: 2;
}
.List-right div,.List-right span{
    padding-top: 6%;
}
.third{
    padding-top: 0 !important;
    font-size: 12px;
    color: white;
}
.third div ,.third span{
    float: left;
}
.third span{
    margin: 0px 5px;
}
.List-right-title{
    font-size: 20px;
    color: white;
}
.List-right-subtitle{
    font-size: 14px;
    color:  white;
}
.third-one{
    color: gold;
}