.DNav{
    height: 200px;
    display: flex;
    padding-top: 10px;
    background-image: url(../../../static/images/bg.png)!important;
    background-size: cover;
    /* filter: blur(1px); */
    filter: opacity(0.8);
}
.am-icon-left{
    flex: 1;
    width: 22px;
    height: 22px;
    color: white;
}
.am-icon-search{
    width: 22px;
    height: 22px;
    margin-right: 16px;
    color: white;
}
.am-navbar-title1{
    flex: 3;
}
.am-navbar-right1{
    width: 22px;
    height: 22px;
    flex: 1;
}
.am-icon-ellipsis{
    width: 22px;
    height: 22px;
    color: white;
}