.am-wingblank{
    margin-top: 15px;
    position: relative;
    z-index: 999;
  }
.am-carousel a{
  /* border: 0.1px solid red; */
  /* border-radius: 5%; */
  overflow: hidden;
}
img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}