.carinfo{
    height: 100px;
    display: flex;
    /* background-color: red; */
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    /* border-bottom: 0.1px solid ; */
}
.carinfo-left{
    flex: 1;
    margin-left: 20px;
    /* background-color: springgreen; */
}
.carinfo-right{
    flex: 2;
    margin-left: 20px;
}
.carinfo-right-mid{
    margin: 10px 0px;
}
.carinfo-right-bom{
    position: relative;
    bottom: -25px;
    color: red;
}